<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/homePage.css">

    <!-- Embed font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />


    <!-- Embed icon -->
    <script
      defer
      src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>


  <body>
    <!-- sidebar -->
    <aside class="sidebar">
      <!-- Logo -->
      <img src="/img/logo.svg" alt="logo" />

      <!-- navigation -->
      <ul class="nav">
        <li>
          <a href="#!" class="btn">
            <i class="bx bxs-grid-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <div class="btn btn-list" style="cursor: pointer">
            <i class="bx bxs-report"></i>
            <span>Report</span>
            <i class="bx bx-chevron-down"></i>
          </div>
        </li>

        <!-- subnav -->
        <ul class="sub-nav">
          <li>
            <a href="#!" class="btn">
              <span> Taken vacation days</span>
            </a>
          </li>
          <li>
            <a href="#!" class="btn">
              <span>Total Earnings</span>
            </a>
          </li>
          <li>
            <a href="#!" class="btn">
              <span>Average Benefits</span>
            </a>
          </li>
        </ul>

        <li>
          <a href="#!" class="btn">
            <i class="bx bxs-bell"></i>
            <span>Alerts</span>
          </a>
        </li>
      </ul>
    </aside>

    <!-- content -->
    <div class="content">
      <!-- header -->
      <header class="header">
        <div class="account">
          <img src="/img/avatar-img.jpg" alt="avatar" class="avatar" />
          <div class="info">
            <p class="title">Pisunn</p>
            <p class="desc">UX/UI Designer</p>
          </div>
        </div>
      </header>

      <!-- main -->
      <main>
        <!-- main-top -->
        <div class="main-top">
          <h2 class="title">Human || Payroll Report</h2>
          <div class="selection"></div>
        </div>

        <!-- main bottom -->
        <div class="main-bottom">
          <form action="/reportFilter" method="POST" >
            <div class="wrapper">
              <div class="form-group">
                <label for="">Shareholder</label>
                <input type="text" name="shareholder"/>
              </div>
              <div class="form-group">
                <label for="">Gender</label>
                <input type="text" name="gender"/>
              </div>
              <div class="form-group">
                <label for="">User</label>
                <input type="text" name="user"/>
              </div>
              <div class="form-group">
                <label for="">Department</label>
                <input type="text" name="department"/>
              </div>

              <div class="form-group">
                <label for="">Work type</label>
                <input type="text" name="workType"/>
              </div>
            </div>
            <button type="submit" class="submit"  >Submit</button>
          </form>

          <!-- table -->

          <div class="wrapper-table">
            <table class="table content-table">
              <thead>
                <tr>
                  <th>PERSONAL ID</th>
                  <th>FULLNAME</th>
                  <th>GENDER</th>
                  <th>BIRTH DATE</th>
                  <th>SOCIAL SECURITY NUMBER</th>
                  <th>ADDRESS</th>
                  <th>PHONE NUMBER</th>
                  <th>EMAIL</th>
                </tr>
              </thead>

              <tbody>
                <% for(var i=0; i<getHR.length; i++) {%>
                  <tr>
                    <td><%= getHR[i].PERSONAL_ID %></td>
                    <td><%= getHR[i].CURRENT_LAST_NAME + ' ' + getHR[i].CURRENT_MIDDLE_NAME + ' ' + getHR[i].CURRENT_FIRST_NAME %></td>
                    <td><%= getHR[i].CURRENT_GENDER%></td>
                    <td><%= getHR[i].BIRTH_DATE.toLocaleDateString() %></td>
                    <td><%= getHR[i].SOCIAL_SECURITY_NUMBER %></td>
                    <td><%= getHR[i].CURRENT_ADDRESS_1 + ', ' + getHR[i].CURRENT_CITY + ', ' + getHR[i].CURRENT_COUNTRY %></td>
                    <td><%= getHR[i].CURRENT_PHONE_NUMBER %></td>
                    <td><%= getHR[i].CURRENT_PERSONAL_EMAIL %></td>
                  </tr>
               <% } %>
                
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
    <script src="/js/homePage.js"></script>
  </body>
</html>
