<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/report.css">

  <!-- Embed font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- Embed icon -->
  <script defer src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!-- sidebar -->
  <div class="background">
  </div> 
  <aside class="sidebar">
    <!-- Logo -->
    <img src="/img/logo.svg" alt="logo" />

     <!-- btn close -->
     <div class="btn-close" style="cursor: pointer;"><i class='bx bx-x'></i></div>

    <!-- navigation -->
    <ul class="nav">
      <li>
        <a href="/HomePage" class="btn">
          <i class="bx bxs-grid-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <div class="btn btn-list" style="cursor: pointer">
          <i class="bx bxs-report"></i>
          <span>Reports</span>
          <i class="bx bx-chevron-down bx-chevron-down-1"></i>
        </div>
      </li>

      <!-- subnav 1 -->
      <ul class="sub-nav-1">
        <li>
          <a href="/VacationDaysReport" class="btn">
            <span> Taken vacation days</span>
          </a>
        </li>
        <li>
          <a href="/TotalEarningsReport" class="btn">
            <span>Total Earnings</span>
          </a>
        </li>
        <li>
          <a href="/AverageBenefitsReport" class="btn">
            <span>Average Benefits</span>
          </a>
        </li>
      </ul>

      <li>
        <div class="btn btn-list-2" style="cursor: pointer">
          <i class='bx bxs-bell'></i>
          <span>Alert</span>
          <i class="bx bx-chevron-down bx-chevron-down-2"></i>
        </div>
      </li>

      <!-- subnav 2 -->
      <ul class="sub-nav-2">
        <li>
          <a href="/HiringAnniversaryAlert" class="btn">
            <span>Alert Hiring Anniversary</span>
          </a>
        </li>

        <li>
          <a href="/VacationDaysAlert" class="btn">
            <span>Alert Vacation Days</span>
          </a>
        </li>

        <li>
          <a href="/BenefitsPlanAlert" class="btn">
            <span>Alert Benefits Plan</span>
          </a>
        </li>

        <li>
          <a href="/BirthdayAlert" class="btn">
            <span>Alert Birthday</span>
          </a>
        </li>

      </ul>

      <li>
        <div class="btn btn-list-3" style="cursor: pointer">
          <i class='bx bxs-user-account' ></i>
          <span>Account</span>
          <i class="bx bx-chevron-down bx-chevron-down-3"></i>
        </div>
      </li>

      <!-- subnav 3 -->
      <ul class="sub-nav-3">
        <li>
          <a href="/Roles" class="btn">
            <span>Roles</span>
          </a>
        </li>

        <li>
          <a href="/Permissions" class="btn">
            <span>Permissions</span>
          </a>
        </li>

        <li>
          <a href="/Accounts" class="btn">
            <span>Accounts</span>
          </a>
        </li>

     
        <li>
          <a href="/Information" class="btn">
            <span>Information Management</span>
          </a>
        </li>

      
    </ul> 

    <li>
      <a href="/logout"  class="btn">
        <i class='bx bxs-log-out'></i>
        <span>Log out</span>
      </a>
    </li>
  </aside>

  <!-- content -->
  <div class="content"> 
     <!-- btn click --> 
     <div class="btn-action"></div>
     
    <!-- header -->
    <header class="header">
      <div id="clock"></div>
    </header>

    <!-- main -->
    <main>
      <!-- main-top -->
      <div class="main-top">
        <h2 class="title">Average Benefits</h2>
      </div>
      <!-- main bottom -->
      <div class="main-bottom">
        <form action="/AverageBenefitsReport" method="get"> 
          <button type="submit" class="submit">Submit</button>
          <div class="wrapper" style="gap: 0 168px; padding-left: 40px;">
            <div class="form-group">
              <label for="">ID</label>
              <input type="text" name="id" value="<%= id %>" />
            </div>
            <div class="form-group" style="transform: translateX(-25px);">
              <label for="">Fullname</label>
              <input type="text" name="fullname" value="<%= fullname %>" />
            </div>
            <div class="form-group" style="transform: translateX(27px);">
              <label for="">Plan</label>
              <input type="text" name="planName" value="<%= planName %>" />
            </div>
            <div class="form-group" style="transform: translateX(48px);">
              <label for="">Total month</label>
              <input type="text" name="totalMonth" value="<%= totalMonth %>" />
            </div>
            <div class="form-group" style="transform: translateX(156px);">
              <label for="">Total paid</label>
              <input type="text" name="totalBenefit" value="<%= totalBenefit %>" />
            </div>
          </div>
        </form>

        <!-- table -->

        <div class="wrapper-table">
          <table class="table content-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fullname</th>
                <th>Plan</th>
                <th>Total month</th>
                <th>Total paid</th>
              </tr>
            </thead>

            <tbody>
              <% for(var i=0; i<data.length; i++) {%>
                <tr>
                  <td>
                    <%= data[i].ID %>
                  </td>
                  <td>
                    <%= data[i].FULLNAME%>
                  </td>
                  <td>
                    <%= data[i].PLAN_NAME%>
                  </td>
                  <td>
                    <%= data[i].TOTAL_MONTH%>
                  </td>
                  <td>
                    <%= data[i].TOTAL_BENEFIT.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})%>
                  </td>
                </tr>
                <% } %>

            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>

  <script src="/js/reportScripts.js"></script>
</body>

</html>