<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/report.css">

<!-- Embed font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />

<!-- Embed icon -->
<script defer src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
<!-- sidebar -->
<aside class="sidebar">
  <!-- Logo -->
  <img src="/img/logo.svg" alt="logo" />

  <!-- navigation -->
  <ul class="nav">
    <li>
      <a href="#!" class="btn">
        <i class="bx bxs-grid-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <div class="btn btn-list" style="cursor: pointer">
        <i class="bx bxs-report"></i>
        <span>Report</span>
        <i class="bx bx-chevron-down"></i>
      </div>
    </li>

    <!-- subnav -->
    <ul class="sub-nav">
      <li>
        <a href="/VacationDayReport" class="btn">
          <span> Taken vacation days</span>
        </a>
      </li>
      <li>
        <a href="/TotalEarningsReport" class="btn">
          <span>Total Earnings</span>
        </a>
      </li>
      <li>
        <a href="/AverageBenefitsReport" class="btn">
          <span>Average Benefits</span>
        </a>
      </li>
    </ul>

    <li>
      <a href="#!" class="btn">
        <i class="bx bxs-bell"></i>
        <span>Alerts</span>
      </a>
    </li>
  </ul>
</aside>

<!-- content -->
<div class="content">
  <!-- header -->
  <header class="header">
    <div id="clock"></div>
  </header>

  <!-- main -->
  <main>
    <!-- main-top -->
    <div class="main-top">
      <h2 class="title">Taken vacation days</h2>
      <div class="selection"></div>
    </div>
        <!-- main bottom -->
        <div class="main-bottom">
          <form action="/VacationDayReport" method="get">
            <div class="wrapper">
              <div class="form-group">
                <label for="">ID</label>
                <input type="text" name="id" value="<%= id %>"/>
              </div>
              <div class="form-group">
                <label for="">FULLNAME</label>
                <input type="text" name="fullname" value="<%= fullname %>"/>
              </div>
              <div class="form-group">
                <label for="">GENDER</label>
                <input type="text" name="gender" value="<%= gender %>"/>
              </div>
              <div class="form-group">
                <label for="">ETHNICITY</label>
                <input type="text" name="ethnicity" value="<%= ethnicity %>"/>
              </div>
              <div class="form-group">
                <label for="">SHAREHOLDER STATUS</label>
                <input type="text" name="shareholder" value="<%= shareholder %>"/>
              </div>
              <div class="form-group">
                <label for="">WORK TYPE</label>
                <input type="text" name="workType" value="<%= workType %>"/>
              </div>
              <div class="form-group">
                <label for="">VACATION DAYS</label>
                <input type="text" name="vacationDays" value="<%= vacationDays %>"/>
              </div> 
              <div class="form-group">
                <label for="">YEAR</label>
                <select name="year">
                  <option value="all" <%= year === 'all' ? 'selected' : '' %>>All</option>
                  <option value="2024" <%= year === '2024' ? 'selected' : '' %>>2024</option>
                    <option value="2023" <%= year === '2023' ? 'selected' : '' %>>2023</option>
                </select>
              </div>
            </div> 
           
            <button type="submit" class="submit">Submit</button>
          </form>

      <!-- table -->

          <div class="wrapper-table">
            <table class="table content-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Fullname</th>
                  <th>Gender</th>
                  <th>Ethnicity</th>
                  <th>Shareholder</th>
                  <th>Work type</th>
                  <th>Vacation Days</th>
                </tr>
              </thead>

              <tbody>
                <% for(var i=0; i<data.length; i++) {%>
                  <tr>
                    <td><%= data[i].PERSONAL_ID %></td>
                    <td><%= data[i].FULLNAME%></td>
                    <td><%= data[i].CURRENT_GENDER%></td>
                    <td><%= data[i].ETHNICITY%></td>
                    <td><%= data[i].SHAREHOLDER%></td>
                    <td><%= data[i].EMPLOYMENT_STATUS%></td>
                    <td><%= data[i].TOTAL_VACATION_DAYS%></td>
                  </tr>
               <% } %>
                
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </main>
</div>
<script src="/js/reportScripts.js"></script>
</body>
</html>
