<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/report.css">

  <!-- Embed font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- Embed icon -->
  <script defer src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>


<body>
    <% if (role.permission.includes("account_edit")) { %>

   
   
            <h1 class="mb-4">Chỉnh sửa tài khoản</h1>
    
            <form action="<%= `${data.id}?_method=PATCH` %>"  method="post" >
                <div class="form-group">
                    <label for="fullName">Họ tên *</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" required value="<%= data.fullName %>">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email" name="email" required value="<%= data.email %>">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" name="password" value="<%= data.password %>">
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="<%= data.phone %>">
                </div>
                <div class="form-group">
                    <label for="role_id">Phân quyền</label>
                    <select name="role_id" id="role_id" class="form-control">
                        <option disabled>-- Chọn --</option>
                        <% roles.forEach(item => { %>
                            <option value="<%= item.id %>" <%= item.id == data.role_id ? 'selected' : '' %>><%= item.title %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
    
    
       
    
    
      
      
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/js/accounts.js"></script>
    <% } %>
</body>